@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Roboto:wght@400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
    font-family: "Lora", serif;
    font-weight: 600;
    margin-bottom: 0;
    color: #25a31d;
}

p,
ul {
    margin-bottom: 0;
}

.main-color {
    color: #25a31d;
}

.btn-main-color {
    background: #25a31d;
    color: #fff;
    font-size: 1.2rem;
}

.banner {
    min-height: 100vh;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
}

.banner-text,
.banner-image {
    flex: 1;
}

.banner-image {
    text-align: center;
}

.banner-text-padded {
    margin: 0.5rem 0;
}

#menu-top-menu {
    list-style: none;
    display: flex;
}

#menu-top-menu li {
    padding: 0 1rem;
}
